<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d992b2">  <td>19/01/24 14:15:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ActiveDevice.setUp()[pri:0, instance:com.bridgera.monitoring.ActiveDevice@e45f292]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>19/01/24 14:15:44</td>   <td>4930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActiveDevice.testActiveDevice()[pri:0, instance:com.bridgera.monitoring.ActiveDevice@e45f292]">testActiveDevice</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>19/01/24 14:16:14</td>   <td>34575</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ActiveDevice.tearDown()[pri:0, instance:com.bridgera.monitoring.ActiveDevice@e45f292]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>19/01/24 14:16:14</td>   <td>35282</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MonitoringDevice.setUp()[pri:0, instance:com.bridgera.monitoring.MonitoringDevice@5f2108b5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>19/01/24 14:16:17</td>   <td>37628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MonitoringDevice.testMonitoringDevice()[pri:0, instance:com.bridgera.monitoring.MonitoringDevice@5f2108b5]">testMonitoringDevice</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>19/01/24 14:17:28</td>   <td>109264</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MonitoringDevice.tearDown()[pri:0, instance:com.bridgera.monitoring.MonitoringDevice@5f2108b5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/01/24 14:17:29</td>   <td>109991</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Turnoff_Device.setUp()[pri:0, instance:com.bridgera.monitoring.Turnoff_Device@31a5c39e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/01/24 14:17:31</td>   <td>112257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Turnoff_Device.testActiveDevice()[pri:0, instance:com.bridgera.monitoring.Turnoff_Device@31a5c39e]">testActiveDevice</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/01/24 14:18:03</td>   <td>143792</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Turnoff_Device.tearDown()[pri:0, instance:com.bridgera.monitoring.Turnoff_Device@31a5c39e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
</table>
